<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sling Shot Dashboard</title>

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/socket.io.min.js"></script>
</head>
<body>
  <div class="master">
    <div class="page page-landing">
      
    </div>
  </div>
    <script src="assets/js/dashboard.js"></script>
</body>
</html>